{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>    Ti chiediamo di esprimere, su una scala da 1 a 7, il tuo grado di accordo con la seguente affermazione:</h3>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty2.css" %}">

<div class="w3-container " style="font-size: 22px">
    <p></p>
<p></p>
    Nella prossima campagna agraria, stipulerò un contratto di produzione per il frumento duro
<p></p>
<table class="table table-bordered">
    <tr>
        <td align="center" style="font-size: 80%;"; width="15%">Totalmente in disaccordo</td>
        <td style="font-size: 60%;"; width="15%"></td>
        <td style="font-size: 60%;"; width="15%"></td>
        <td style="font-size: 60%;"; width="15%"></td>
        <td style="font-size: 60%;"; width="15%"></td>
        <td style="font-size: 60%;"; width="15%"></td>
        <td align="center" style="font-size: 80%;"; width="15%">Totalmente d'accordo</td>
    </tr>
    <tr>
          <td align="center"><button name="tab_1" value="True" class="btn btn-outline-primary" btn-lg">1</button></td>
          <td align="center"> <button name="tab_2" value="True" class="btn btn-outline-primary" btn-lg">2</button></td>
          <td align="center"> <button name="tab_3" value="True" class="btn btn-outline-primary" btn-lg">3</button></td>
          <td align="center"><button name="tab_4" value="True" class="btn btn-outline-primary" btn-lg">4</button></td>
          <td align="center"><button name="tab_5" value="True" class="btn btn-outline-primary" btn-lg">5</button></td>
          <td align="center"><button name="tab_6" value="True" class="btn btn-outline-primary" btn-lg">6</button></td>
          <td align="center"><button name="tab_7" value="True" class="btn btn-outline-primary" btn-lg">7</button></td>
      </tr>
  </table>
</div>
    <p></p>
    {% next_button %}
{% endblock %}


