.otree-body {
	max-width:100%;
}

img {

  width:33%;
  height: auto;
  align: auto;
}

table {
  vertical-align: bottom;
  text-align: center;

}
tc {

  vertical-align: bottom;
  text-align: center;
}
