{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Il compenso monetario aggiuntivo
{% endblock %}

{% block content %}
<div class="w3-container border-top" style="font-size: 22px">
    <p></p>
    Il compenso monetario che potrai ricevere da questa sezione viene calcolato in base:
    <p></p>
    <ul>
        <li> a come avrai distribuito i 100 gettoni</li>
        <p></p>
        <li>al prezzo che si verificherà a luglio 2022</li>
    </ul>
</div>
    {% next_button %}
{% endblock %}


