{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>Come allocare i gettoni - Esempio 1</h3>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty2.css" %}">

<div class="w3-container border-top" style="font-size: 22px ">

<p></p>
    Se sei del tutto sicuro che il prezzo del frumento duro alla raccolta, nel Luglio 2022,
    ricade in un determinato intervallo di prezzo, la decisione migliore sarà quella di allocare
    tutti i gettoni sul quell’intervallo.
    <p></p>
</div>
    {% next_button %}
{% endblock %}


