{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty2.css" %}">
<div class="w3-container border-top" style="font-size: 22px"><p></p>
    Il CBOT rappresenta il mercato di riferimento per i contratti futures dei prodotti agricoli e
    quello dove vengono scambiati il maggior numero di contratti.
    <p></p>
    I contratti futures sono contratti a termine standardizzati, negoziati in una borsa valori
    (es. borsa di Chicago) e prevedono un accordo di scambio della merce tra venditore e compratore,
    differito nel tempo e a un prezzo prefissato.
    <p></p>
    Il prezzo del contratto futures a cui ci riferiamo rappresenta quindi il più probabile prezzo di mercato
    del frumento a Luglio 2022, secondo la borsa di Chicago.
    <p></p>
</div>
    {% next_button %}
{% endblock %}


