{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>Come distribuire i gettoni</h3>
{% endblock %}

{% block content %}
<div class="w3-container border-top" style="font-size: 22px">
<p></p>
    <p></p>
    Il numero di gettoni associati ad ogni intervallo di prezzo riflette la tua opinione circa la probabilità
    che quell'intervallo si verificherà nel luglio 2022
    <p></p>
    Più è alto il numero di gettoni più alta è la probabilità
    <p></p>
    <center>
    <table border="">
        <tbody>
        <tr>
            <td style="width:20%"></td>
            <td align="center"><b>Prezzo frumento duro a luglio 2022</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="center"> 22,00 - 23,99 (€/q)</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">24,00 - 25,99 (€/q)</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">26,00 - 27,99 (€/q)</td>
        </tr>
        <tr>
            <td align="center">4</td>
            <td align="center">28,00 - 29,99 (€/q)</td>
        </tr>
        <tr>
            <td align="center">5</td>
            <td align="center">30,00 - 31,99 (€/q)</td>
        </tr>
        <tr>
            <td align="center">6</td>
            <td align="center">32,00 - 33,99 (€/q)</td>
        </tr>
        </tbody>
    </table>
        </center>
</div>
<p></p>
    {% next_button %}
{% endblock %}


