{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Esempio 2
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container  " style="font-size: 22px">
    <p></p>
    Riga indicata da te: 19. Prezzo minimo che sei disposto ad accettare: 44.30 €/q
    <p></p>
    Riga estratta per il pagamento: 20. Prezzo della riga 20: 44.40 €/q
    <p></p>
    Avendo scelto la riga 19, anche alla riga 20 sceglierai l'opzione A. Quindi riceverai: 44.40 €/q

<img src="{%static '/Sezione_3/contratti6.jpg' %}"  align="middle" width="100%"/>

</div>
    <p></p>
    {% next_button %}

{% endblock %}
