{% extends "global/Page.html" %}
{% load otree static %}
{% block styles %}
   <style>
   ul {list-style:none}

input[type=radio] {
  border: 1px solid black;
  padding: .5em;
  -webkit-appearance: none;
   position: relative;
   margin: 1px;
   outline: none;


}

input[type=radio]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 9px 9px;
  border: 1px solid black;
  background: #222021;
}

input[type=radio]:focus {
  outline-color: transparent;
}
   </style>
{% endblock %}
{% block title %}
 <h4>Prego indica la versione dell'Opzione B per la quale rinunceresti all' Opzione A.</h4>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty1.css" %}">

<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td colspan="8" align="middle" style="border-right: 1px solid;border-left: 1px solid" >OPZIONE A</td>
        <td  style="border-right: 1px solid" >OPZIONE B</td>
    </tr>
    <tr style="font-weight: bold">
        <td></td>
        <td colspan="8" style="border-right: 1px solid;border-left: 1px solid" >Contratto SENZA prezzo fisso</td>
        <td width="15%" style="border-right: 1px solid" >Contratto CON prezzo fisso</td>

    </tr>
    <tr>
        <td width="">1</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">22.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="1" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>2</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">26.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="2" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>3</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">30.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="3" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>4</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">34.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="4" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>5</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">38.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="5" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>6</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">42.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="6" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>7</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">46.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="7" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>8</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">50.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="8" name="HL_1" required></td>
    </tr>
</table>
<table class="table table-hover " style="width : 100%; " text-align="middle">
    <tr style="font-weight: bold; ">
        <td></td>
        <td></td>
        <td colspan="8"></td>
        <td ></td>
    </tr>
    <tr>
        <td>9</td>
        <td width="10%" style="border-left:1px solid">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%" style="border-right: 1px solid">50.00 - 53.99</td>
        <td width="15%" style="border-right: 1px solid">54.00</td>
    <td width=5%" rowspan="1"style="border-right: 1px solid" ><input class="radio" type="radio" value="9" name="HL_1" required></td>
    </tr>
</table>


<p></p>
<div class="container">
        	<div class="row">
        	</div>
        	<div class="row" style="padding-left:100%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">INVIA</span>
             </button>
        		</div>

        	</div>
        </div>
{% endblock %}