{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Esempio 2
{% endblock %}

{% block content %}
<div class="w3-container border-top " style="font-size: 22px">
<link rel="stylesheet" href="{% static "global/empty4.css" %}">

Se la riga da te indicata (n. 6) è uguale alla situazione di scelta estratta (n. 6),
    riceverai il prezzo fisso indicato dall'Opzione B nella riga estratta, ovvero 42.00€

<center>
    <img src="{%static '/Sezione_3/bag2.jpg' %}"  align="middle" sizes="30%"/>
</center>
<img src="{%static '/Sezione_3/contratti4.jpg' %}"  align="middle" width="100%"/>
</div>
    <p></p>

{% endblock %}
