{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h4>Ti mostreremo 33 righe con l' Opzione A e l'Opzione B.</h4>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container border-top " style="font-size: 22px">


<p></p>
Come puoi vedere, l'Opzione A resta sempre uguale, invece l'Opzione B cambia tra le diverse righe
    <p></p>
    <img src="{%static '/Sezione_3/contratti.jpg' %}"  align="middle" width="100%"/>

</div>

{% endblock %}
