{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Esempio 1
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container  " style="font-size: 22px">
    Se hai indicato la riga 20 come prezzo minimo che sei disposto ad accettare, riceverai: 44,40 €
<img src="{%static '/Sezione_3/contratti4.jpg' %}"  align="middle" width="100%"/>

</div>
    <p></p>
    {% next_button %}

{% endblock %}
