{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Esempio 2
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container border-top " style="font-size: 22px">
<p></p>
Se hai scelto l’opzione B: riceverai il valore medio dell’intervallo in cui ricade la previsione del prezzo del frumento
duro alla raccolta, nel giugno 2022, come formulata in base al nostro modello statistico
<p></p>
Se il prezzo predetto dal nostro modello statistcio è pari a €27.34, riceverai €28
<p></p>
Il tuo guadagno sara pari a 28€
<p></p>
    <img src="{%static '/Sezione_3/contratti5.jpg' %}"  align="middle" width="100%"/>

</div>
    {% next_button %}

{% endblock %}
