{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Esempio 1
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container  " style="font-size: 22px">
Se la riga da te indicata (n. 22) è superiore alla situazione di scelta estratta (n. 20), riceverai il valore medio dell’intervallo in cui
    ricade la previsione del prezzo del frumento duro alla raccolta, nel Luglio 2022, come formulata in base al nostro modello statistico
<img src="{%static '/Sezione_3/contratti5.jpg' %}"  align="middle" width="100%"/>

</div>
    <p></p>
    {% next_button %}

{% endblock %}
