{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>    Il tuo compenso aggiuntivo dipenda da:
</h3>
{% endblock %}

{% block content %}
<div class="w3-container border-top" style="font-size: 22px">
<p></p>
    <p></p>
    <ol>
        <li> Il fatto che oggi, al termine dello studio, tu sia estratto a sorte per ricevere il pagamento</li>
        <p></p>
        <li>Il fatto che la sezione 3 sia estratta a sorte al termine dello studio per ricevere il pagamento</li>
        <p></p>
        <li> La situazione di scelta che verrà estratta a sorte tra le 30 sostenute nella sezione 3</li>
        <p></p>
        <li>La scelta compiuta nella situazione estratta a sorte</li>
        <p></p>
        <li>Il prezzo del frumento alla raccolta, nel luglio 2022, predetto dal nostro modello statitsico</li>
    </ol>
</div>
    {% next_button %}
{% endblock %}


