{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>Se si opta per l'Opzione B:</h3>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container border-top " style="font-size: 22px">
<p></p>
Il prezzo pagato sarà il prezzo stipulato alla semina.
<p></p>
Per esempio se il prezzo scelto è 22.00€, il prezzo pagato sarà uguale a 22.00€
<p></p>
<img src="{%static '/Sezione_3/contratto3.jpg' %}"  align="middle" width="100%"/>

</div>

    {% next_button %}

{% endblock %}
