{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>Nel prosieguo dello studio, ti verrà chiesto di considerare due possibili opzioni:</h3>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<div class="w3-container border-top " style="font-size: 22px">
<p></p>
<b>Opzione A</b> = vendita con contratto di produzione che NON FISSA IL PREZZO. Il prezzo sarà determinato in base al prezzo
di mercato alla raccolta, nel Luglio 2022
 <p></p>
<b>Opzione B</b> = vendita con contratto di produzione CON PREZZO FISSO. Il prezzo
che riceverai alla consegna della produzione il prossimo anno (2022) è fisso.<p></p>
    </div>

<img src="{%static '/Sezione_3/contratto.jpg' %}"  align="middle" width="100%"/>
<p></p>

{% endblock %}
