{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Esempio 1
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<div class="w3-container  " style="font-size: 22px">
    <center>
    <img src="{%static '/Sezione_3/bag.jpg' %}"  align="middle" sizes="100%"/>
</center>
<img src="{%static '/Sezione_3/contratti3.jpg' %}"  align="middle" width="100%"/>

</div>
    <p></p>
    {% next_button %}

{% endblock %}
