{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>Ti verrà chiesto di compiere delle scelete simili a quella proposta sotto</h3>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<div class="w3-container border-top " style="font-size: 22px">
<p></p>
<b>Opzione A</b> = vendita <span style="color: green"> con contratto di produzione CON PREZZO FISSO </span>. Il prezzo
che riceverai alla consegna della produzione il prossimo anno (2022) è <span style="color:green"> fisso a</span> 22€/q
<p></p>
<b>Opzione B</b> = vendita con contratto di produzione che NON FISSA IL PREZZO. Il prezzo sarà determinato in base al prezzo
di mercato alla raccolta, nel luglio 2022
<p></p>
    </div>

<img src="{%static '/Sezione_3/contratto.jpg' %}"  align="middle" width="100%"/>
<p></p>
    {% next_button %}

{% endblock %}
