{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
{% endblock %}

{% block content %}
<h2 style="text-align:center"> ORA PROCEDEREMO CON LA SEZIONE 6</h2>
<p />

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere</span>
             </button>
        		</div>

        	</div>
        </div>


{% endblock %}

