{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    In generale, quanto sei d'accordo con le seguenti affermazioni:
{% endblock %}

{% block content %}
<div class="w3-container " style="font-size: 22px">
    <p></p>
<p></p>
    Per rispondere, usa una scala da 1 (per nulla) a 7 (moltissimo)
    <p></p>
<table class="table" style="font-size: 75%" >
    <tr align="center">
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
    <tr align="right">
        <td align="left">Il contratto di produzione favorisce un reddito sicuro e
        stabile per l'azienda</td>
			{% for choice in form.likert1 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  fornisce la certezza riguardo a dove vendere
            il prodotto</td>
        {% for choice in form.likert2 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  riduce i costi di stoccaggio per l’azienda</td>
        {% for choice in form.likert3 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  aumenta il reddito dell’azienda</td>
        {% for choice in form.likert4 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  assicura al produttore un prezzo più elevato
            rispetto al mercato</td>
        {% for choice in form.likert5 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  consente un aumento della qualità del frumento prodotto</td>
        {% for choice in form.likert6 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  consente un aumento della resa di frumento</td>
        {% for choice in form.likert7 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Il contratto di produzione  favorisce il miglioramento delle tecniche produttive</td>
        {% for choice in form.likert8 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
  </table>
</div>
    <p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>{% endblock %}


