{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>QUESTIONARIO FINALE </h3>

{% endblock %}

{% block content %}
<div class="w3-container border-top" style="font-size: 22px">
<link rel="stylesheet" href="{% static "global/empty2.css" %}">
<p></p>
<p> Ora, ti chiederemo di rispondere ad alcune domande su di te e sulla tua azienda.</p>
<p></p>
<p>Ti ricordiamo che <b>il questionario è del tutto anonimo.</b></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-right: 10%">
        		<div class="col-md-10">
        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicca qui per procedere con il questionario</span>
             </button>
        	</div>
        </div>
</div>

{% endblock %}


