{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Quanto sei d'accordo con le seguenti affermazioni?
{% endblock %}

{% block content %}
<div class="w3-container " style="font-size: 22px">
    <p></p>
<p></p>
    Per rispondere, usa una scala da 1 (per nulla) a 7 (moltissimo)
    <p></p>
<table class="table" style="font-size: 75%" >
    <tr align="center">
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
    <tr align="right">
        <td align="left">Il mio principale acquirente* non è sempre onesto con me</td>
			{% for choice in form.likert14 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Mi fido del mio acquirente*</td>
        {% for choice in form.likert15 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Credo nelle informazioni che l’acquirente* mi fornisce</td>
        {% for choice in form.likert16 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Le promesse fatte dal mio acquirente* sono credibili</td>
        {% for choice in form.likert17 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Scelgo il contratto di produzione perché non devo preoccuparmi di essere tradito</td>
        {% for choice in form.likert18 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
  </table>
    <p></p>
    <span style="font-size: 14px">* buyer, consorzio, mangimificio, essiccatoio, ecc.</span>

</div>
    <p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>{% endblock %}
