{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    In generale, quanto ritieni che i seguenti fattori costituiscano delle BARRIERE all'adozione di contratti di produzione?
{% endblock %}

{% block content %}
<div class="w3-container " style="font-size: 22px">
    <p></p>
<p></p>
    Per rispondere, usa una scala da 1 (per nulla) a 7 (moltissimo)
    <p></p>
<table class="table " style="font-size: 75%" >
    <tr align="center">
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
    <tr align="right">
        <td align="left">Mancanza di adeguata informazione</td>
			{% for choice in form.likert9 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Scarsa convenienza economica</td>
        {% for choice in form.likert10 %}
          	<td style="padding-left:3.5%" >{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Vincoli contrattuali troppo stringenti</td>
        {% for choice in form.likert11 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Rischi legati allo strumento</td>
        {% for choice in form.likert12 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
    <tr align="right">
        <td align="left">Mancanza di fiducia verso le persone (es. buyer)</td>
        {% for choice in form.likert13 %}
          	<td style="padding-left:3.5%">{{ choice }}</td>
          {% endfor %}
		</tr>
  </table>
</div>
    <p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>{% endblock %}
