{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>Gli esperti</h3>
{% endblock %}

{% block content %}
<div class="w3-container border-top" style="font-size: 22px">
    <p></p>
Ora, ti mostriamo dei grafici con le aspettative di alcune categorie di esperti in merito al prezzo
    del frumento duro alla raccolta, nel giugno 2022, tra cui:
 <p></p>
    <ul>
        <li>esperti universitari</li>
        <p></p>
        <li>agricoltori</li>
        <p></p>
        <li>compratori</li>
        <p></p>
    </ul>
</div>
<p></p>
    {% next_button %}
{% endblock %}


