{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Privacy
{% endblock %}

{% block content %}
<div class="w3-container border-top " style="font-size: 22px">
<p></p>
   Ricordiamo che, ai fini dello studio, la tua persona sarà resa anonima mediante l'uso di un numero identificativo
    <p></p>
    Questo garantisce che tutti i dati ottenuti non siano riconducibili a te, garantendo la tua privacy
    <p></p>
    I dati saranno trattati col massimo della riservatezza, ai sensi del D.Lgs.101/2018 "Codice in materia
    di protezione dei dati personali" e del Regolamento Europeo 679/2016.
</div>
<p></p>

{% endblock %}
