{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Struttura dello studio
{% endblock %}

{% block content %}
<div class="w3-container border-top" style="font-size: 22px">
<p></p>
    <ul>
        <li><b>Sezione 4</b>: riceverai delle informazioni sulle opinioni di alcuni esperti in merito al
        prezzo del frumento duro alla raccolta, nel Luglio 2022</li>
        <p></p>
        <li><b>Sezione 5</b>: ti chiederemo nuovamente le tue previsioni riguardo al prezzo del frumento duro
            alla raccolta, nel Luglio 2022</li>
        <p></p>
        <li><b>Sezione 6</b>: ti chiederemo nuovamente di compiere delle scelte riguardo alla stipula di un contatto
        di produzione</li>
        <p></p>
        <li><b>Sezione 7</b>: ti chiederemo di rispondere ad alcune domande su di te e sulla tua azienda</li>
    </ul>
</div>
<p></p>

    {% next_button %}
{% endblock %}


