{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Struttura dello studio
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty2.css" %}">

<div class="w3-container border-top" style="font-size: 22px">
<p></p>
    Lo studio si compone di 7 sezioni:
    <p></p>
    <ul>
        <li><b>Sezione 1</b>: ti chiederemo la tua intezione a stipulare un contratto di produzione</li>
        <p></p>
        <li><b>Sezione 2</b>: ti chiederemo le tue previsioni riguardo al prezzo del frumento duro
         alla raccolta nel Luglio 2022 </li>
        <p></p>
        <li><b>Sezione 3</b>: ti chiederemo di compiere delle scelte riguardo alla stipula di un contatto
        di produzione</li>
    </ul>
</div>
<p></p>

    {% next_button %}
{% endblock %}


