{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}
<link rel="stylesheet" href="{% static "global/empty1.css" %}">


<h1> La situazione di scelta che determina il pagamento è la: #{{rrow}}. </h1>

<div class="w3-container border-top ">
	<p></p>
		<h5></h5>
<p></p>
</div>
<link rel="stylesheet" href="{% static "global/empty.css" %}">

<table class="table table-hover table-bordered" style="width : 100%" align="middle">
    <tr align="middle">
        <td></td>
        <td align="middle" style="font-weight: bold">OPZIONE A</td>
                <td></td>
        <td colspan="8" style="font-weight: bold">OPZIONE B</td>
    </tr>
    <tr align="middle" style="font-weight: bold">
        <td></td>
        <td width="10%">Contratto con prezzo fisso</td>
        <td></td>
        <td colspan="8">Contratto SENZA prezzo fisso</td>
    </tr>
    <tr align="middle">
        <td width="">{{rrow}}</td>
        <td>{% if rvalue == 1 %} {{ra1_value}}
            {% endif %}
            {% if rvalue == 2 %} {{ra2_value}}
            {% endif %}
            {% if rvalue == 3 %} {{ra3_value}}
            {% endif %}
            {% if rvalue == 4 %} {{ra4_value}}
            {% endif %}
        </td>
        <td width="5%"></td>
         <td width="10%">22.00 - 25.99</td>
        <td width="10%">26.00 - 29.99</td>
        <td width="10%">30.00 - 33.99</td>
        <td width="10%">34.00 - 37.99</td>
        <td width="10%">38.00 - 41.99</td>
        <td width="10%">42.00 - 45.99</td>
        <td width="10%">46.00 - 49.99</td>
        <td width="10%">50.00 - 53.99</td>
    </tr>
</table>
<p></p>
<!-- The lottery chosen -->
	<div class="w3-container border-top ">
		<p></p>
		<p>• Ha scelto in questa situazione:
		{% if rvalue == 1 %}
            {% if rchoice1 <= rrow %}
    <b>Opzione A.</b>
		{% else %}
    <b>Opzione B.</b>
		{% endif %}
		    {% endif %}
         {% if rvalue == 2 %}
            {% if rchoice2 <= rrow %}
    <b>Opzione A.</b>
		{% else %}
    <b>Opzione B.</b>
		{% endif %}
		{% endif %}
            		{% if rvalue == 3 %}
            {% if rchoice3 <= rrow %}
    <b>Opzione A.</b>
		{% else %}
    <b>Opzione B.</b>
		{% endif %}
		{% endif %}
            		{% if rvalue == 4 %}
            {% if rchoice4 <= rrow %}
    <b>Opzione A.</b>
		{% else %}
    <b>Opzione B.</b>
		{% endif %}
		{% endif %}

</p>
<p>• Il prezzo del frumento duro per il 2022 è: 34.60 €/q
</p>

		<p>• Il pagamento addizionale è pari <b>{{payoff_HLr|safe}}€</b>
</div>


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere</span>
             </button>
        		</div>

        	</div>
        </div>


{% endblock %}
