{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}
<link rel="stylesheet" href="{% static "global/empty1.css" %}">


<h1> La situazione di scelta che determina il pagamento è la: #{{rrow}}. </h1>

<div class="w3-container border-top ">
	<p></p>
		<h5></h5>
<p></p>
</div>
<link rel="stylesheet" href="{% static "global/empty.css" %}">

<table class="table table-hover table-bordered" style="width : 100%" align="middle">
    <tr align="middle">
        <td></td>
        <td align="middle" style="font-weight: bold">OPZIONE A</td>
                <td></td>
        <td colspan="6" style="font-weight: bold">OPZIONE B</td>
    </tr>
    <tr align="middle" style="font-weight: bold">
        <td></td>
        <td>Contratto con prezzo fisso</td>
        <td></td>
        <td colspan="6">Contratto SENZA prezzo fisso</td>
    </tr>
    <tr align="middle">
        <td width="">{{rrow}}</td>
        <td>{{ra1_value}}</td>
        <td width="12%"></td>
        <td width="10%">23.00 - 24.99</td>
        <td width="10%">25.00 - 26.99</td>
        <td width="10%">27.00 - 28.99</td>
        <td width="10%">29.00 - 30.99</td>
        <td width="10%">31.00 - 32.99</td>
        <td width="10%">33.00 - 34.99</td>
    </tr>
</table>
<p></p>
<!-- The lottery chosen -->
	<div class="w3-container border-top ">
		<p></p>
		<p>• Ha scelto in questa situazione:
		{% if rchoice == 1 %}
    <b>Opzione A.</b>
		{% else %}
    <b>Opzione B.</b>
		{% endif %}
</p>
<p>• Il prezzo del frumento duro per il 2022 è: {{rprice}}€/q
</p>

		<p>• Il pagamento addizionale è pari <b>{{rpayoff_HL|safe}}€</b>
</div>


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere</span>
             </button>
        		</div>

        	</div>
        </div>


{% endblock %}
