{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	<h5>La Sezione 2 è stata estratta per il pagamento </h5>
{% endblock %}
{% block content %}
<div class="w3-container border-top ">
	<p></p>
	<p>• In base al nostro modello statistico, il prezzo per il frumento duro alla raccolta, nel luglio 2022, è:
		34.6 €/q
	<p>• Il pagamento addizionale è pari a: {{ w_amt }} € </p></div>
<div class="container">
        	<div class="row">
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">
        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere</span>
             </button>
        		</div>
        	</div>
        </div>

<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<script type="text/javascript" src="{% static "global/farmerchoice.js" %}"></script>


<style>
#decision {
	font-size: x-large;
}
</style>


<div id = "full_div" style="   height: 315px;">
</div>



{% endblock %}

{% block scripts %}

<script>
// Some initial globals

let belief_dat = {{beliefs|json}};
beliefs_ns.mkview(belief_dat, "full_div", results = 1, show_submit = 1);

</script>

{% endblock %}
